.bookcard-container {
    display: flex;
    width: 100%;
    height: 100%;
    // justify-content: center;
    max-width: 230px;
    max-height: 300px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    // box-shadow: rgb(148, 148, 148) -0.4rem 0.3rem 0.35rem;
    overflow: hidden;
}

.bookcard-content {
    margin: 0 1rem;
    width: 100%;
}

.bookcard-image {
    display: flex;
    max-height: 16rem;
    max-width: clamp(1rem, 30vw, 30rem);
    justify-content: center;
    align-content: center;
    align-self: center;
    margin: 1rem auto;
    box-shadow: rgb(41, 41, 41) 0rem 0rem 0.5rem .2rem;
}

.bookcard-title {
    font-size: clamp(1rem, 2.1vh, 2rem);
    margin: 0.5rem 0;
    word-wrap: break-word;
    justify-content: left;
}

.bookcard-author {
    font-size: 1.2rem;
    margin: 0.25rem 0;
    justify-content: left;
}

.bookcard-isbn {
    font-size: 1rem;
    margin: 0.5rem 0;
    justify-content: left;
    color: rgb(143, 143, 143);
}