.public-home-page-container {
    flex-grow: 1;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-right: 40px;
    margin-top: 0;
    padding-top: 3rem;
}

.title {
    color: #000000;
    // color: #0C1E4A;
}

.title h3 {
    font-size: 3.5rem;
    font-family: 'Fjalla One', sans-serif;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input {
    display: flex;
    font-size: 2rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #555555;
    margin: 1rem;
    margin-top: 3rem;
    justify-content: center;
}

.btn {
    width: 15rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 20px;
}

.btn,
.primary {
    content: '';
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: 'Cagliostro', sans-serif;
    cursor: pointer;
}

.btn:active,
.primary:active {
    background-color: grey;
}

.reg-message {
    display: block;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 1rem;
}

.reg-message p {
    margin: 1rem 0 0;
}

.reg-link {
    display: flex;
    justify-content: center;
    color: blue;
    text-decoration: none;
}

.login-button {
    margin: 1rem auto;
    margin-top: 3rem;
}