.search-page-container {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.search-results {
    display: flex;
    flex-grow: 1;
}

.message {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    flex-grow: 1;
}