.search-container {
    margin: 0;
    padding: 0;
}

.search-bar {
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    left: 1.7rem;
}

#search-query {
    min-width: 60%;
    max-width: 80%;
    height: 2.8rem;
    border-radius: 100px 100px 100px 100px;
    border-color: rgb(0, 0, 0);
    border-bottom-color: rgb(1, 0, 0); // Because mozilla wants to highlight the bottom....
    padding: 0 1rem;
    padding-right: 3.6rem;
    font-size: 1.3rem;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    min-width: 20%;
    max-width: 80%;
}

#search-button {
    position: relative;
    right: 3rem;
    padding: 0.1rem 0.6rem .2rem 0.5rem;
    height: 2.5rem;
    cursor: pointer;
    border: solid rgb(0, 0, 0) 2px;
    background-color: white;
    border-left: none;
    border-radius: 0px 100px 100px 0px;
}
