.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 3fr 10fr 1fr;
    grid-template-rows: 100px auto 30px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1/2;
}

.app-wrapper {
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 3fr 10fr 1fr;
    grid-template-rows: 2fr 10fr 2fr;
}

.footer {
    grid-column: 1/4;
    grid-row: 3/4;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    align-content: center;
    padding-top: 4px;
}


.side-panel {
    background-color: lightgrey;
}

.user-info {
    background-color: lightgrey;
    border: 10px solid yellow;
}